<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="shopping_cart" action="/checkout" method="post">
    <label for="Item">Item: </label><input id="item" type="text" name="item">
    <input id="submit" type="submit" name="submit" value="">
  </body>
</html>

</form>
