
<h1>Checkout Items</h1>
<form method="post" action="/checkout">
    <p>
        <label for= "item"> Enter Items Here </label>
        <input type= "text" name="item" id="item">
    </p>

    <button type='submit' value='submit'>Checkout</button>
</form>

