<form method="post" action="/checkout">
    <label for="item"> Enter Item for Checkout</label>
    <input type="text" id="item" name="item">
    <input type="submit" id="submit" value="submit">
</form>